.App {
  text-align: center;
  display: inline-block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  grid-template-columns: 20% auto 30%;
  display: grid;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#move_history_container{
  left: 0;

}

#code_options_container{
  right:0;
}



p {
  font-size: 2vw;
}


.game_name{
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}

button:hover{
  background-color: black;
  color: white;
}

.highlight_userboard{
  border: 2px solid purple
}

.code_options, .regular_userboard {
  height: 5%;
  width: 5%;
}