.App {
  text-align: center;
  display: inline-block;
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;

  grid-template-columns: 40% auto;
  color: white;
}

section {
  text-align: right;
}


.mode_info{
  text-align: left;
}


.user_input{
  padding-top: 5vh;
}

.code_select{
  white-space: nowrap;
  overflow-x: scroll;
}

.userboard_select_info{
  width:9vw;
  display: inline-block;
  text-align: center;
  overflow-x: scroll;
  width:60vw;
}

.user_interaction{
  height: 40vh;
  width:60vw;
}

.code_options{
  overflow: scroll;
  white-space: normal;
  position: relative;
  height: 20vh;
}

.code_submit button {
  height: 4vh;
}

.game_options{
  height: 5vw;
}

button{
  border-radius: 5px;
  height: 4vw
}
.title{
  padding-top: 42vh;
  height: 7vh;
  text-align: left;
  color: lightgray;

}

.game_name{
  font-weight: bolder;
  font-size: x-large;
}

.intro_screen, .start_game_select, .versus_mode_seletor{
  padding-top: 42vh;
}
.gameover_view {
  padding-top: 5vh;
}

button:hover{
  background-color: black;
  color: white;
}
.history_display{
  padding-top: 50px;
  overflow: scroll;

  height: 23vh;
}

.move_history_title{
  position: absolute;
  height: 6vh;
  background-color: whitesmoke;
  top: 0;
  right:0;
}


#move_history_container{
  background-color: whitesmoke;
  color: black;
  height: 30vh;
  border-radius: 0 0 0 5px;
  position: relative;

}
